<sly-card
          title="Load Input Data" subtitle="select projects to calculate metrics on"

>
    <div style="display:flex; flex-direction: row">
        <div style="margin: 0 15px 0 5px;">
            <h4>Ground Truth Project</h4>
            {{{ gt_project_selector.to_html() }}}
        </div>
        <div style="margin: 0 15px">
            <h4>Predicted Project</h4>
            {{{ pred_project_selector.to_html() }}}
        </div>

    </div>
    <div style="margin: 15px 0 0 5px; display: flex; flex-direction: column">
        <div style="width: 420px; margin-bottom: 15px">
            {{{ download_projects_progress.to_html() }}}
        </div>
        <div style="">
            <div v-if="data.current_step < 2">{{{ download_projects_button.to_html() }}}</div>
            <div v-else>{{{ reselect_projects_button.to_html() }}}</div>

            <div v-if="data.current_step > 1" style="margin-top: 17px">{{{ projects_downloaded_done_label.to_html() }}}</div>


        </div>


    </div>

</sly-card>