<el-dialog title="Images Review Interface" :visible.sync="state.showIRI">
    {{{ notification_box.to_html() }}}

    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <el-button
                :plain="true"
                :loading="state.bboxesOrderLoading && state.bboxesOrder=='images'"
                :disabled="state.bboxesOrderLoading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.bboxesOrder='images'; state.bboxesOrderLoading=true; post('/select-bboxes-order/')">
            original
        </el-button>
        <el-button
                :loading="state.bboxesOrderLoading && state.bboxesOrder=='sizes'"
                :disabled="state.bboxesOrderLoading"
                type="primary" class="regular" size="small" style="margin: 0 2px; margin-top: 17px"
                @click="state.bboxesOrder='sizes'; state.bboxesOrderLoading=true; post('/select-bboxes-order/')">
            sorted
        </el-button>
    </div>
</el-dialog>
